---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <ul>
    <li><a href="js">JavaScript</a></li>
    <li><a href="react">React</a></li>
    <li><a href="form-action">Form Action</a></li>
  </ul>
</Layout>
